Repository open-telemetry/opentelemetry-cpp, pull requests merged in 2021-02, with the labels that each got.

#552 Passing parent context to SpanProcessor::OnStart()
  ext/include/opentelemetry/ext/zpages/tracez_processor.h
  ext/src/zpages/tracez_processor.cc
  sdk/include/opentelemetry/sdk/trace/batch_span_processor.h
  sdk/include/opentelemetry/sdk/trace/processor.h
  sdk/include/opentelemetry/sdk/trace/simple_processor.h
  sdk/src/trace/batch_span_processor.cc
  sdk/src/trace/span.cc
  sdk/test/trace/simple_processor_test.cc
Labels: area:sdk

#551 TraceState implementation as per spec
  api/include/opentelemetry/trace/trace_state.h
  api/test/trace/CMakeLists.txt
  api/test/trace/trace_state_test.cc
Labels: area:api

#562 Add API documentation
  api/docs/Doxyfile
  api/docs/resources/footer.html
  api/docs/resources/header.html
  api/docs/resources/opentelemetry_logo.jpg
  api/docs/resources/stylesheet.css
  tools/format.sh
Labels: documentation

#582 Add main page for API documentation
  api/docs/Doxyfile
  api/docs/Overview.md
  buildscripts/pre-commit
Labels: pr:please-merge
