Repository open-telemetry/opentelemetry-cpp, pull requests merged in 2022-10, with the labels that each got.

#1668 fix data race on MeterContext::meters_
  sdk/include/opentelemetry/sdk/metrics/meter_context.h
  sdk/src/metrics/meter_context.cc
Labels: bug, metrics

#1650 Add CMake OTELCPP_MAINTAINER_MODE
  .github/workflows/ci.yml
  CHANGELOG.md
  CMakeLists.txt
  api/test/nostd/unique_ptr_test.cc
  api/test/trace/span_benchmark.cc
  ci/README.md
  ci/do_ci.ps1
  ci/do_ci.sh
  sdk/include/opentelemetry/sdk/metrics/exemplar/histogram_exemplar_reservoir.h
  sdk/test/metrics/async_metric_storage_test.cc
  sdk/test/metrics/sync_metric_storage_counter_test.cc
  sdk/test/metrics/sync_metric_storage_histogram_test.cc
Labels: build and test

#1685 fix Histogram crash
  examples/metrics_simple/metrics_ostream.cc
  sdk/include/opentelemetry/sdk/metrics/aggregation/aggregation_config.h
  sdk/include/opentelemetry/sdk/metrics/aggregation/default_aggregation.h
  sdk/include/opentelemetry/sdk/metrics/aggregation/histogram_aggregation.h
  sdk/include/opentelemetry/sdk/metrics/state/async_metric_storage.h
  sdk/include/opentelemetry/sdk/metrics/state/sync_metric_storage.h
  sdk/include/opentelemetry/sdk/metrics/state/temporal_metric_storage.h
  sdk/include/opentelemetry/sdk/metrics/view/view.h
  sdk/src/metrics/aggregation/histogram_aggregation.cc
  sdk/src/metrics/state/temporal_metric_storage.cc
  sdk/test/metrics/aggregation_test.cc
  sdk/test/metrics/async_metric_storage_test.cc
  sdk/test/metrics/sync_metric_storage_counter_test.cc
  sdk/test/metrics/sync_metric_storage_histogram_test.cc
Labels: bug, metrics

#1701 [Metrics SDK] Add support for Pull Metric Reader
  CHANGELOG.md
  examples/metrics_simple/README.md
  examples/metrics_simple/metrics_ostream.cc
  examples/prometheus/README.md
  examples/prometheus/main.cc
  exporters/ostream/include/opentelemetry/exporters/ostream/metric_exporter.h
  exporters/ostream/test/ostream_metric_test.cc
  exporters/otlp/include/opentelemetry/exporters/otlp/otlp_grpc_metric_exporter.h
  exporters/otlp/include/opentelemetry/exporters/otlp/otlp_grpc_metric_exporter_factory.h
  exporters/otlp/include/opentelemetry/exporters/otlp/otlp_http_metric_exporter.h
  exporters/otlp/include/opentelemetry/exporters/otlp/otlp_http_metric_exporter_factory.h
  exporters/otlp/src/otlp_grpc_metric_exporter_factory.cc
  exporters/otlp/src/otlp_http_metric_exporter_factory.cc
  exporters/otlp/test/otlp_grpc_metric_exporter_factory_test.cc
  exporters/otlp/test/otlp_http_metric_exporter_factory_test.cc
  exporters/otlp/test/otlp_http_metric_exporter_test.cc
  exporters/prometheus/include/opentelemetry/exporters/prometheus/exporter.h
  sdk/include/opentelemetry/sdk/metrics/export/periodic_exporting_metric_reader.h
  sdk/include/opentelemetry/sdk/metrics/meter_context.h
  sdk/include/opentelemetry/sdk/metrics/meter_provider.h
  sdk/include/opentelemetry/sdk/metrics/push_metric_exporter.h
  sdk/include/opentelemetry/sdk/metrics/state/metric_collector.h
  sdk/src/metrics/export/periodic_exporting_metric_reader.cc
  sdk/src/metrics/meter_context.cc
  sdk/src/metrics/meter_provider.cc
  sdk/src/metrics/state/metric_collector.cc
  sdk/test/metrics/async_metric_storage_test.cc
  sdk/test/metrics/meter_provider_sdk_test.cc
  sdk/test/metrics/metric_reader_test.cc
  sdk/test/metrics/periodic_exporting_metric_reader_test.cc
Labels: metrics

#1708 Add otlp-grpc example bazel
  examples/otlp/BUILD
  examples/otlp/grpc_metric_main.cc
Labels: metrics, build and test

#1686 [Metrics] Switch to explicit 64 bit integers
  CHANGELOG.md
  api/include/opentelemetry/metrics/meter.h
  api/include/opentelemetry/metrics/noop.h
  api/include/opentelemetry/metrics/observer_result.h
  api/test/metrics/noop_sync_instrument_test.cc
  exporters/ostream/src/metric_exporter.cc
  exporters/ostream/test/ostream_metric_test.cc
  exporters/otlp/src/otlp_metric_utils.cc
  exporters/otlp/test/otlp_http_metric_exporter_test.cc
  exporters/prometheus/src/exporter_utils.cc
  exporters/prometheus/test/prometheus_test_helper.h
  sdk/include/opentelemetry/sdk/metrics/aggregation/aggregation.h
  sdk/include/opentelemetry/sdk/metrics/aggregation/drop_aggregation.h
  sdk/include/opentelemetry/sdk/metrics/aggregation/histogram_aggregation.h
  sdk/include/opentelemetry/sdk/metrics/aggregation/lastvalue_aggregation.h
  sdk/include/opentelemetry/sdk/metrics/aggregation/sum_aggregation.h
  sdk/include/opentelemetry/sdk/metrics/data/point_data.h
  sdk/include/opentelemetry/sdk/metrics/exemplar/always_sample_filter.h
  sdk/include/opentelemetry/sdk/metrics/exemplar/filter.h
  sdk/include/opentelemetry/sdk/metrics/exemplar/filtered_exemplar_reservoir.h
  sdk/include/opentelemetry/sdk/metrics/exemplar/fixed_size_exemplar_reservoir.h
  sdk/include/opentelemetry/sdk/metrics/exemplar/histogram_exemplar_reservoir.h
  sdk/include/opentelemetry/sdk/metrics/exemplar/never_sample_filter.h
  sdk/include/opentelemetry/sdk/metrics/exemplar/no_exemplar_reservoir.h
  sdk/include/opentelemetry/sdk/metrics/exemplar/reservoir.h
  sdk/include/opentelemetry/sdk/metrics/exemplar/reservoir_cell.h
  sdk/include/opentelemetry/sdk/metrics/exemplar/reservoir_cell_selector.h
  sdk/include/opentelemetry/sdk/metrics/exemplar/with_trace_sample_filter.h
  sdk/include/opentelemetry/sdk/metrics/meter.h
  sdk/include/opentelemetry/sdk/metrics/state/async_metric_storage.h
  sdk/include/opentelemetry/sdk/metrics/state/metric_storage.h
  sdk/include/opentelemetry/sdk/metrics/state/multi_metric_storage.h
  sdk/include/opentelemetry/sdk/metrics/state/sync_metric_storage.h
  sdk/include/opentelemetry/sdk/metrics/sync_instruments.h
  sdk/src/metrics/aggregation/histogram_aggregation.cc
  sdk/src/metrics/aggregation/lastvalue_aggregation.cc
  sdk/src/metrics/aggregation/sum_aggregation.cc
  sdk/src/metrics/meter.cc
  sdk/src/metrics/state/observable_registry.cc
  sdk/src/metrics/sync_instruments.cc
  sdk/test/metrics/aggregation_test.cc
  sdk/test/metrics/async_metric_storage_test.cc
  sdk/test/metrics/attributes_hashmap_benchmark.cc
  sdk/test/metrics/attributes_hashmap_test.cc
  sdk/test/metrics/exemplar/always_sample_filter_test.cc
  sdk/test/metrics/exemplar/histogram_exemplar_reservoir_test.cc
  sdk/test/metrics/exemplar/never_sample_filter_test.cc
  sdk/test/metrics/exemplar/no_exemplar_reservoir_test.cc
  sdk/test/metrics/exemplar/reservoir_cell_test.cc
  sdk/test/metrics/exemplar/with_trace_sample_filter_test.cc
  sdk/test/metrics/meter_test.cc
  sdk/test/metrics/multi_metric_storage_test.cc
  sdk/test/metrics/observable_registry_test.cc
  sdk/test/metrics/observer_result_test.cc
  sdk/test/metrics/sync_instruments_test.cc
  sdk/test/metrics/sync_metric_storage_counter_test.cc
  sdk/test/metrics/sync_metric_storage_histogram_test.cc
Labels: metrics

#1707 [Metrics API/SDK] Change Meter API/SDK to return nostd::unique_ptr for Sync Instruments
  api/include/opentelemetry/metrics/meter.h
  api/include/opentelemetry/metrics/noop.h
  sdk/include/opentelemetry/sdk/metrics/meter.h
  sdk/src/metrics/meter.cc
  sdk/test/metrics/BUILD
  sdk/test/metrics/meter_test.cc
Labels: metrics

#1675 Fix:1674, Add Monotonic Property to Sum Aggregation, and unit tests for Up Down Counter
  exporters/prometheus/include/opentelemetry/exporters/prometheus/exporter_utils.h
  exporters/prometheus/src/exporter_utils.cc
  sdk/include/opentelemetry/sdk/metrics/aggregation/default_aggregation.h
  sdk/include/opentelemetry/sdk/metrics/aggregation/sum_aggregation.h
  sdk/include/opentelemetry/sdk/metrics/data/point_data.h
  sdk/src/metrics/aggregation/sum_aggregation.cc
  sdk/test/metrics/BUILD
  sdk/test/metrics/CMakeLists.txt
  sdk/test/metrics/aggregation_test.cc
  sdk/test/metrics/sync_metric_storage_counter_test.cc
  sdk/test/metrics/sync_metric_storage_up_down_counter_test.cc
Labels: metrics
