Repository open-telemetry/opentelemetry-cpp, pull requests merged in 2022-08, with the labels that each got.

#1513 Add configuration options for Aggregation creation
  examples/common/metrics_foo_library/foo_library.cc
  examples/metrics_simple/metrics_ostream.cc
  sdk/include/opentelemetry/sdk/metrics/aggregation/aggregation_config.h
  sdk/include/opentelemetry/sdk/metrics/aggregation/default_aggregation.h
  sdk/include/opentelemetry/sdk/metrics/aggregation/histogram_aggregation.h
  sdk/include/opentelemetry/sdk/metrics/meter.h
  sdk/include/opentelemetry/sdk/metrics/state/async_metric_storage.h
  sdk/include/opentelemetry/sdk/metrics/state/sync_metric_storage.h
  sdk/include/opentelemetry/sdk/metrics/state/temporal_metric_storage.h
  sdk/include/opentelemetry/sdk/metrics/view/view.h
  sdk/src/metrics/aggregation/histogram_aggregation.cc
  sdk/src/metrics/meter.cc
  sdk/src/metrics/state/temporal_metric_storage.cc
  sdk/test/metrics/aggregation_test.cc
  sdk/test/metrics/async_metric_storage_test.cc
  sdk/test/metrics/sync_metric_storage_test.cc
Labels: metrics, spec-compliance

#1537 [dev] vscode debug launch.json
  .vscode/launch.json
Labels: priority:p2

#1495 Support multiple async callbacks
  api/include/opentelemetry/metrics/async_instruments.h
  api/include/opentelemetry/metrics/meter.h
  api/include/opentelemetry/metrics/noop.h
  api/include/opentelemetry/metrics/observer_result.h
  examples/common/metrics_foo_library/foo_library.cc
  sdk/include/opentelemetry/sdk/metrics/async_instruments.h
  sdk/include/opentelemetry/sdk/metrics/instruments.h
  sdk/include/opentelemetry/sdk/metrics/meter.h
  sdk/include/opentelemetry/sdk/metrics/observer_result.h
  sdk/include/opentelemetry/sdk/metrics/state/async_metric_storage.h
  sdk/include/opentelemetry/sdk/metrics/state/metric_storage.h
  sdk/include/opentelemetry/sdk/metrics/state/multi_metric_storage.h
  sdk/include/opentelemetry/sdk/metrics/state/observable_registry.h
  sdk/include/opentelemetry/sdk/metrics/state/sync_metric_storage.h
  sdk/include/opentelemetry/sdk/metrics/sync_instruments.h
  sdk/src/metrics/CMakeLists.txt
  sdk/src/metrics/async_instruments.cc
  sdk/src/metrics/meter.cc
  sdk/src/metrics/state/observable_registry.cc
  sdk/src/metrics/sync_instruments.cc
  sdk/test/metrics/CMakeLists.txt
  sdk/test/metrics/async_instruments_test.cc
  sdk/test/metrics/async_metric_storage_test.cc
  sdk/test/metrics/multi_metric_storage_test.cc
  sdk/test/metrics/observable_registry_test.cc
  sdk/test/metrics/observer_result_test.cc
  sdk/test/metrics/sync_instruments_test.cc
Labels: metrics

#1515 Fix default Metric view name
  sdk/include/opentelemetry/sdk/metrics/view/view_registry.h
  sdk/test/metrics/view_registry_test.cc
Labels: bug, metrics, spec-compliance

#1560 remove throw check from metrics with noexcept
  api/test/metrics/noop_sync_instrument_test.cc
  sdk/test/metrics/aggregation_test.cc
  sdk/test/metrics/async_metric_storage_test.cc
  sdk/test/metrics/exemplar/no_exemplar_reservoir_test.cc
  sdk/test/metrics/meter_provider_sdk_test.cc
  sdk/test/metrics/metric_reader_test.cc
  sdk/test/metrics/multi_metric_storage_test.cc
  sdk/test/metrics/sync_instruments_test.cc
  sdk/test/metrics/sync_metric_storage_test.cc
Labels: metrics, build and test

#1531 Add CI jobs for new and deprecated metrics
  .github/workflows/ci.yml
  ci/do_ci.sh
Labels: build and test
