Repository open-telemetry/opentelemetry-cpp, pull requests merged in 2022-12, with the labels that each got.

#1829 Moved otlp_grpc_utils.cc to opentelemetry_exporter_otlp_grpc_client.
  exporters/otlp/BUILD
  exporters/otlp/CMakeLists.txt
Labels: area:exporter:otlp, area:build

#1828 Change default temporality as "Cumulative" for OTLP metrics exporters
  exporters/otlp/include/opentelemetry/exporters/otlp/otlp_grpc_metric_exporter_options.h
  exporters/otlp/include/opentelemetry/exporters/otlp/otlp_http_metric_exporter_options.h
  exporters/otlp/test/otlp_http_metric_exporter_test.cc
Labels: area:exporter:otlp, area:metrics

#1827 fix typo [affecting otlp exported histogram metrics max<uint>]
  exporters/otlp/src/otlp_metric_utils.cc
Labels: area:exporter:otlp, area:metrics

#1844 Fix OTELCPP_MAINTAINER_MODE
  .github/workflows/ci.yml
  CHANGELOG.md
  api/include/opentelemetry/nostd/span.h
  ci/do_ci.sh
  ci/setup_cmake.sh
  ext/test/w3c_tracecontext_test/main.cc
Labels: pr:please-merge

#1662 Enable generating deb, rpm, NuGet, tgz, zip package through cmake build
  CMakeLists.txt
  INSTALL.md
  cmake/ParseOsRelease.cmake
  cmake/package.cmake
  exporters/otlp/include/opentelemetry/exporters/otlp/otlp_http_client.h
Labels: build and test
